Source: rtcom-eventlogger-ui
Priority: extra
Maintainer: Ivan J. <parazyd@dyne.org>
Build-Depends:
 debhelper (>= 10),
 libglib2.0-dev,
 libgtk2.0-dev,
 libdbus-1-dev,
 librtcom-eventlogger-dev (>= 1.1),
 librtcom-eventlogger-plugins-dev (>= 1.0),
 libosso-dev,
 libosso-abook-dev (>= 4.20081010),
 libhildon1-dev,
 libmcclient-dev (>= 5),
 libclockcore-dev,
 libcityinfo-dev,
 libtime-dev,
Standards-Version: 4.3.0
Section: libs

Package: librtcom-eventlogger-ui1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librtcom-eventlogger-ui0 (= ${Source-Version})
Description: Event Logger Widget.
  Event Logger Widget.

Package: librtcom-eventlogger-ui-dev
Section: libdevel
Architecture: any
Depends: librtcom-eventlogger-ui1 (= ${Source-Version}), librtcom-eventlogger-dev (>= 1.1)
Description: Event Logger Widget. Development files.
  Event Logger Widget.
  .
  Development files.
